/* ============ Globals ============ */

a {
  color: #a3dde2 !important;
}

.shuttle-divider {
  background-color: black !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

.row {
  padding: 0 !important;
}

.column {
  padding: 0 !important;
}

hr {
  width: 30%;
  margin-bottom: 2em;
}

.spacer {
  height: 15vh;
}

.ship-title {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  position: absolute;
  bottom: -9px;
}

.ship-title-bg {
  font-size: 50vh;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.36) 3%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.36) 3%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: filter 0.2s ease-out;
}

.ship-title-bg:hover {
  filter: blur(12px);
  transition: filter 0.6s ease-in;
}

.ship-title-sm {
  font-size: 0.6em;
}

.ship-img {
  width: 100%;
}

.flavor-title {
  margin-top: 1em;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.info {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.info-text {
  width: 50%;
  padding-left: 4em;
  overflow: auto;
  text-align: justify;
}

.or {
  color: black;
}

.accordion {
  background-color: black;
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

.accordion div:nth-child(odd) {
  background-color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.accordion div:nth-child(odd):hover {
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.accordion div:nth-child(even) {
  background-color: black;
  padding-top: 2em !important;
  padding-bottom: 4em !important;
}

.accordion > .title {
  color: white !important;
  padding-bottom: 1em !important;
  padding-left: 1em !important;
}

.accordion > .content > h2 {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  padding-left: 1em;
}

.accordion > .content > .table {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

.accordion > .content > .table > tbody > tr > th {
  color: white !important;
  font-family: 'Josefin Sans', sans-serif !important;
  padding-left: 1em;
}

.table tr:hover {
  background-color: rgba(51, 51, 51, 0.46) !important;
  transition: background-color 0.6s ease-in;
}

.table tr {
  background-color: black !important;
  transition: background-color 0.6s ease-out;
}

.table tr td:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: background-color 0.6s ease-in;
}

.table tr td {
  transition: background-color 0.6s ease-out;
}

.ten {
  box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
}

.img-btns {
  position: absolute;
  right: 1em;
  top: 0;
  width: 5%;
  height: inherit;
  /*overflow: scroll;*/
}

.img-btns > button {
  margin-top: 1em !important;
}

/* ============ 85x ============ */
#ship-grid-85x {
  background-image: url(../assets/ships/85x/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#ship-view-85x {
  overflow: hidden;
  background-image: url(../assets/ships/85x/ship_img_85x_top.jpg);
  width: 80%;
  background-size: auto 145%;
  background-repeat: no-repeat;
  height: 50vh;
}

#ship-info-85x {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  padding-bottom: 10vh !important;
  text-align: center;
}

#ship-info-85x p {
  left: auto;
  right: auto;
  text-align: justify;
}

/* ============ M50 ============ */
#ship-grid-m50 {
  background-image: url(../assets/ships/m50/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#ship-view-m50 {
  background-image: url(../assets/ships/m50/ship_img_m50_angle.jpg);
  background-size: cover;
  height: 50vh;
}

#ship-info-m50 {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10vh !important;
}



/* ============ 300 Base Ships ============ */
#ship-grid-300base {
  background-image: url(../assets/ships/ship300series/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.img-btns-300base {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5em;
}

.img-btns-300base > button {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

#ship-view-300base {
  background-color: rgb(115, 115, 140);
}

#ship-info-300base {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10vh !important;
}

/* accordion slider */

.ships-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Time for some styling */
  margin: 0;
}

/* A small hack to prevent flickering on some browsers */
.ships-slider ul {
  width: 2000px;
  padding: 0;
  margin: 0;

  /* This will give ample space to the last item to move
	instead of falling down/flickering during hovers. */
}

.ships-slider li {
  position: relative;
  display: block;
  width: 9vw;
  float: left;
  z-index: 10;

  /* Transitions to give animation effect */
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;

  /* If you hover on the images now you should be able to
	see the basic accordian */
}

/* Reduce with of un-hovered elements */
.ships-slider {
  box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
}

.ships-slider ul li:hover { width: 40vw; }

.ships-slider li img {
  display: block;
  width: 60vw;
  box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
}

/* Image title styles */
.img-title-300series {
  font-family: 'Josefin Sans', sans-serif;
  background: black;
  position: absolute;
  padding-top: 1em;
  padding-left: 0.2em;
  bottom: 3em;
  width: 20em;
  height: 4em;
}

.img-title-300series a {
  display: block;
  color: white !important;
  color: #fff;
  font-size: 7em;
}

.img-title-300series button {
  position: absolute;
  left: 18em;
  top: 4em;
}

/* ============ 350r ============ */
#ship-grid-350r {
  background-image: url(../assets/ships/350r/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#ship-view-350r {
  background-image: url(../assets/ships/350r/350r-top.jpg);
  background-size: cover;
  height: 70vh;
}

#ship-info-350r {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10vh !important;
}

#ship-view-350r > .ship-title > .ship-title-bg {
  font-size: 29vh;
}

.img-btns-350r {
  position: absolute;
  right: 1em;
  top: 16%;
  width: 5%;
  height: inherit;
}

.img-btns-350r > button {
  margin-top: 1em !important;
}


#ship-grid-890 {
  background-image: url(../assets/ships/890/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#ship-view-890 {
  background-image: url(../assets/ships/890/890bg.jpg);
  background-size: cover;
  height: 49vh;
}

#ship-info-890 {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10vh !important;
}

#ship-view-890 > .ship-title > .ship-title-bg {
  font-size: 20vw;
}

/* ============ QUOTE MODAL ============ */

.quote-img {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/quote_bg2.jpg);
  background-size: cover;
  background-position: center center;
}

.quote-img-85x {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/quote_bg6.jpg);  /* CHANGE */
  background-size: cover;
  background-position: center center;
}

.quote-ship-name-85x {
  font-family: 'Josefin Sans', sans-serif;
  color: transparent;
  font-size: 10vw;
  background: url(../assets/quote_bg6.jpg) repeat; /* CHANGE */
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(-20deg) brightness(3) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.quote-img-300 {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/quote_bg5.jpg);  /* CHANGE */
  background-size: cover;
  background-position: center center;
}

.quote-ship-name-300 {
  font-family: 'Josefin Sans', sans-serif;
  color: transparent;
  font-size: 10vw;
  background: url(../assets/quote_bg5.jpg) repeat; /* CHANGE */
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(-20deg) brightness(3) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.quote-img-315 {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/quote_bg4.jpg);  /* CHANGE */
  background-size: cover;
  background-position: center center;
}

.quote-ship-name-315 {
  font-family: 'Josefin Sans', sans-serif;
  color: transparent;
  font-size: 10vw;
  background: url(../assets/quote_bg4.jpg) repeat; /* CHANGE */
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(-20deg) brightness(3) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.quote-img-325 {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/quote_bg.jpg);  /* CHANGE */
  background-size: cover;
  background-position: center center;
}

.quote-ship-name-325 {
  font-family: 'Josefin Sans', sans-serif;
  color: transparent;
  font-size: 10vw;
  background: url(../assets/quote_bg.jpg) repeat; /* CHANGE */
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(-20deg) brightness(4) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.quote-img-350 {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/quote_bg3.jpg);
  background-size: cover;
  background-position: center center;
}

.quote-ship-name-350 {
  font-family: 'Josefin Sans', sans-serif;
  color: transparent;
  font-size: 12vw;
  background: url(../assets/quote_bg3.jpg) repeat;
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(-20deg) brightness(3) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.quote-step-next-button {
  border-radius: 0 !important;
  border: -1.5em;
}

#quote-ship-img-m50 {
  position: absolute;
  top: -9%;
  left: -21%;
  width: 80%;
}

#quote-ship-name-m50 {
  position: absolute;
  bottom: 50%;
  right: 0em;
}

#quote-ship-img-85x {
  position: absolute;
  top: 5%;
  left: -27%;
  width: 72%;
}

#quote-ship-name-85x {
  position: absolute;
  bottom: 50%;
  right: 0em;
}

#quote-ship-img-300i {
  position: absolute;
  top: 3%;
  left: -20%;
  width: 80%;
}

#quote-ship-name-300i {
  position: absolute;
  bottom: 50%;
  right: 0em;
}

#quote-ship-img-315p {
  position: absolute;
  top: 7%;
  right: -21%;
  width: 85%;
}

#quote-ship-name-315p {
  position: absolute;
  bottom: 50%;
  left: 0em;
}

/* ========= REPLACE SHIP IMAGE ========== */
#quote-ship-img-325a {
  position: absolute;
  top: 7%;
  right: -21%;
  width: 85%;
}

#quote-ship-name-325a {
  position: absolute;
  bottom: 50%;
  left: 0em;
}

#quote-ship-img-350r {
  position: absolute;
  top: -7%;
  right: -14%;
  width: 79%;
}

#quote-ship-name-350r {
  position: absolute;
  bottom: 50%;
  left: 0em;
}

.id85x {
  position: absolute;
  width: 108%;
  top: -8vh;
  left: 15vw;
}

.idM50 {
  position: absolute;
  top: -4vh;
  left: -5vw;
}

.quote-ship-name {
  font-family: 'Josefin Sans', sans-serif;
  color: transparent;
  font-size: 10vw;
  background: url(../assets/quote_bg2.jpg) repeat;
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(-20deg) brightness(3) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.quote-step {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  height: 5vh;
  width: 100%;
  background-color: black;
}

.quote-ship-step {
  text-align: center;
  position: relative;
  top: -2em;
}

.step {
  display: inline-block;
  width: 15%;
  height: 100%;
  color: white !important;
}

.step div {
  padding-top: 0.7em;
}

.step i {
  padding-top: 0.6em;
}

.quote-step-indicator-name {
  position: relative;
  top: -1.5em;
  color: black;
}

.quote-step-indicator-name span {
  color: white !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.quote-step-indicator-icon {
  position: relative;
  top: -0.5em;
}

.quote-step-indicator-icon i {
  padding-left: 2.8em;
  padding-right: 2.8em;
  color: white;
}

.quote-info {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  height: 20vh;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
}

.quote-summary {
  font-family: 'Josefin Sans', sans-serif;
  height: 10vh;
  width: 100%;
  background-color: black;
  color: white;
}

.quote-summary-info {
  padding-left: 2%;
  padding-top: 4vh;
}

.quote-summary-info span {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.quote-summary-button {
  position: absolute;
  right: 4%;
  bottom: 4%;
}

#shipStep2 {
  position: relative !important;
  height: 20vh;
}

.paint-name{
  display: inline-block;
}

.paint-metallic {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  color: grey;
}

.paint-colors {
  text-align: center;
}

.paint-colors > label {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.paint-colors > input {
  position: absolute;
}

.white {
  background-image: url(../assets/paint/white-paint.jpg);
}

.grey {
  background-image: url(../assets/paint/silver-paint.jpg);
}

.red {
  background-image: url(../assets/paint/red-paint.jpg);
}

.blue {
  background-image: url(../assets/paint/blue-paint.jpg);
}

.yellow {
  background-image: url(../assets/paint/yellow-paint.jpg);
}

.paint-colors input:active + .paint {
  -webkit-filter: drop-shadow(0px 0px 33px 6px rgba(125, 236, 255, 1));
  -moz-filter: drop-shadow(0px 0px 33px 6px rgba(125, 236, 255, 1));
  filter: drop-shadow(0px 0px 33px 6px rgba(125, 236, 255, 1));
}

.paint-colors input:checked + .paint {
  -webkit-filter: drop-shadow(0px 0px 33px 6px rgba(125, 236, 255, 1));
  -moz-filter: drop-shadow(0px 0px 33px 6px rgba(125, 236, 255, 1));
  filter: drop-shadow(0px 0px 33px 6px rgba(125, 236, 255, 1));
}

.paint {
  height: 10em;
  width: 12%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;

  -webkit-filter: non;
  -moz-filter: none;
  filter: none;
}

.paint:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.quote-selector-sliders {
  text-align: center;
}

.materials {
  text-align: center;
}

.materials > label {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.materials > input {
  position: absolute;
}

.grey-leather {
  background-image: url(../assets/interior/material_1.jpg);
}

.black-leather {
  background-image: url(../assets/interior/material_2.jpg);
}

.tan-leather {
  background-image: url(../assets/interior/material_3.jpg);
}

.blue-metal {
  background-image: url(../assets/interior/material_4.jpg);
}

.black-metal {
  background-image: url(../assets/interior/material_5.jpg);
}

.material {
  height: 10em;
  width: 12%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;

  -webkit-filter: non;
  -moz-filter: none;
  filter: none;
}

.quote-location {
  height: 11em;
}

.location {
  text-align: center;
}

.location > * {
  text-align: center;
}

.crusader {
  background-image: url(../assets/planets/planet1.png) !important;
}

.terra {
  background-image: url(../assets/planets/planet2.png) !important;
}

.stanton {
  background-image: url(../assets/planets/planet3.png) !important;
}

.idris {
  background-image: url(../assets/planets/planet4.png) !important;
}

.kiel {
  background-image: url(../assets/planets/planet5.png) !important;
}

.location input {
  position: absolute;
}

.planet {
  height: 10em;
  width: 12%;
  cursor: pointer;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  display: inline-block !important;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;

  -webkit-filter: non;
  -moz-filter: none;
  filter: none;
}

.location > label {
  display: inline-block;
  width: 10%;
  margin-left: 1.2em;
  margin-right: 1.2em;
  background: transparent;
  border: 0;
}
